{%- extends 'lab/index.html.j2' -%}

{% for css in resources.inlining.css -%}
{# No inlining CSS #}
{% endfor %}

{%- block html_head_js -%}
{%- block html_head_js_requirejs -%}
{# No html_head_js_requirejs #}
{%- endblock html_head_js_requirejs -%}
{%- endblock html_head_js -%}

{% block jupyter_widgets %}
{# No jupyter_widgets #}
{% endblock jupyter_widgets %}

{%- block html_head_js_mermaidjs -%}
{# No MermaidJS #}
{%- endblock html_head_js_mermaidjs -%}

